.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 25px;
  display: flex;
  min-height: 150px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.15s linear;
  animation: articleOpen 0.2s ease-in-out;
}

@keyframes articleOpen {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.article:hover {
  box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 10%);
}

.infoWrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.articleInfo {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-right: auto;
}

.title {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.titleText {
  max-width: 92%;
  font-size: 22px;
  color: #1890FF;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.likeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.15s ease;
}

.likeIcon {
  width: 20px;
  cursor: pointer;
}

.tagsList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tag {
  font-size: 14px;
  color: gray;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  color: gray;
  margin-top: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.userInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 15px;
}

.userInfoContainer {
  display: flex;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.btnDelete {
  position: relative;
  color: #F5222D !important;
  border: 1px solid #F5222D;
  border-radius: 5px;
  padding: 8px 15px;
  transition: all 0.15s ease-in-out;
}

.btnDelete:focus {
  box-shadow: 0 0 0 1.3px #F5222D;
}

.btnEdit {
  color: #52C41A !important;
  border: 1px solid #52C41A;
  border-radius: 5px;
  padding: 8px 15px;
  transition: all 0.15s ease-in-out;
}

.btnEdit:focus {
  box-shadow: 0 0 0 1.3px #52C41A;
}

.btnDelete:hover,
.btnEdit:hover {
  color: #2b2b2b !important;
  background-color: lightgray;
  border-color: lightgray;
}

.userName {
  white-space: nowrap;
  font-size: 20px;
}

.postDate {
  white-space: nowrap;
  color: grey;
  font-size: 14px;
}

.userAvatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgrey;
}

.articleBody {
  overflow-wrap: break-word;
}


.likeBtn {
  padding-left: 20px;
}

/* для элемента input c type="checkbox" */
.likeBtn>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.likeBtn>span {
  display: inline-flex;
  position: relative;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.likeBtn>span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../assets/image/like.svg');
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.likeBtn>input:focus-visible:not(:checked)+span::before {
  border-radius: 15%;
  box-shadow: 0 0 0 1.3px lightgray;
}

.likeBtn>input:focus-visible:checked+span::before {
  border-radius: 15%;
  box-shadow: 0 0 0 1.3px lightgray;
}

/* стили для чекбокса, находящегося в состоянии checked */
.likeBtn>input:checked+span::before {
  background-image: url('../../assets/image/like-active.svg');
}

/* стили для чекбокса, находящегося в состоянии disabled */
.likeBtn>input:disabled+span::before {
  background-image: url('../../assets/image/like.svg');
}

.deletePopup {
  width: 250px;
  position: absolute;
  transform: translate(-40px, 10px);
  background-color: #fff;
  box-shadow: 0px 2px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  border-radius: 5px;
  animation: popupOpen 0.15s ease-in-out;
}

.deletePopup::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom: 12px solid #fff;
  top: -22px;
}

@keyframes popupOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popupText {
  margin-bottom: 15px;
}

.btnNo {
  border: 1px solid #D9D9D9;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #fff;
  transition: all 0.15s ease-in-out;
}

.btnNo:focus {
  box-shadow: 0 0 0 1.3px #000;
}

.btnYes {
  color: #fff;
  background-color: #1890FF;
  border: 1px solid #1890FF;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
}

.btnYes:focus {
  box-shadow: 0 0 0 1.3px #000;
}

.btnNo:hover {
  color: #F5222D !important;
  background-color: #fff;
  border-color: #F5222D;
}

.btnYes:hover {
  color: #52C41A !important;
  background-color: #fff;
  border: 1px solid #52C41A;
}

.loaderContainer {
  position: absolute;
  transform: translateY(50px);
  background-color: #fff;
  padding: 30px 50px;
  box-shadow: 0px 2px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}