.cardList {
  width: 100%;
  animation: cardsOpen 0.2s ease-in-out;
}

@keyframes cardsOpen {
  from {
    opacity: 0;
    transform: scale(0.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.pageItem {
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pageItem:hover {
  background-color: lightgrey;
}

.pageLink {
  padding: 5px 10px;
}

.activeItem {
  color: #fff;
  background-color: #1890FF;
}

.activeItem:hover {
  color: #fff;
  background-color: #1890FF;
}


.previousLinkClassName,
.nextLinkClassName {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
}

.previousLinkClassName:hover,
.nextLinkClassName:hover {
  background-color: lightgrey;
}